extends ../layout

block content
    a(href='/usuarios') Volver
    h1 Nuevo Usuario
    form(action='/usuarios/create' method='post')
        .from-group
            label(for='nombre') Nombre:
            input#nombre.form-control(type='tex' name='nombre' value= usuario.nombre class= errors.nombre ? 'is-invalid' : '')
            if errors.nombre
                small#nombreHelp.text-danger = errors.nombre.message
        .from-group
            label(for='email') Email:
            input#email.form-control(type='tex' name='email' value= usuario.email class= errors.email ? 'is-invalid' : '')
            if errors.email
                small#emailHelp.text-danger = errors.email.message
        .from-group
            label(for='password') Password:
            input#password.form-control(type='password' name='password' class= errors.password ? 'is-invalid' : '')
            if errors.password
                small#passwordHelp.text-danger = errors.password.message
        .from-group
            label(for='confirm_pwd') Confirmar Password:
            input#confirm_pwd.form-control(type='password' name='confirm_pwd' class= errors.confirm_pwd ? 'is-invalid' : '')
            if errors.confirm_pwd
                small#confirm_pwdHelp.text-danger = errors.confirm_pwd.message
        br
        br
        input.btn.btn-primay(type='submit' value='Guardar')
        