extends ../layout

block content
    a(href='/usuarios') Volver
    h1 Actualizando Usuario
    form(action='/usuarios/' + usuario.id + '/update' method='post')
        .from-group
            label(for='nombre') Nombre:
            input#nombre.form-control(type='tex' name='nombre' value= usuario.nombre class= errors.nombre ? 'is-invalid' : '')
            if errors.nombre
                small#nombreHelp.text-danger = errors.nombre.message 
        br
        br
        input.btn.btn-primay(type='submit' value='Actualizar')
        